@import "../../../vars.scss";

.cv-event {
    header {
        h3 {
            color: $heading-color;
            font-weight: lighter;
        }
        .info {
            color: $heading-color;

            display: grid;
            column-gap: 32px;
            align-items: center;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
        }
    }

    .content {
        padding: 8px 0px;
    }
}
